<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-div">
  <ion-grid>
    <ion-row class="row-1">
      <img src="assets/img/logo.png" alt="Ionic logo">
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <form #loginForm="ngForm" novalidate>
          <ion-list>
            <ion-item class="rounded-input-box">
              <ion-input placeholder="Mobile No." type="text" value="">
                <ion-icon color="primary" name="ellipse"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item class="rounded-input-box" *ngIf="isOTPSent">
              <ion-input placeholder="OTP" [(ngModel)]="login.otp" name="otp" type="text">
                <ion-icon color="primary" name="ellipse"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-button *ngIf="!isOTPSent" [disabled]="login.mobileNumber.toString()?.length > 10" (click)="sendOTP(loginForm)"
              type="submit" expand="block">Send OTP</ion-button>


            <ion-button *ngIf="isOTPSent" (click)="verify()" color="danger" expand="block">Verify</ion-button>

            <ion-button *ngIf="isOTPSent" [disabled]="login.mobileNumber.toString()?.length !== 10" (click)="sendOTP(loginForm)"
              type="submit" expand="block">Resend OTP</ion-button>

          </ion-list>


        </form>
      </ion-col>


    </ion-row>
  </ion-grid>



</ion-content>