/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  --ion-font-family: 'Montserrat', sans-serif;
}

ion-button {
  // font-size: 11px;
}

.title-class {
  font-size: 1rem !important;
}

ion-toolbar {
  // --ion-background-color: #FF3E42;
  // --ion-text-color: white;
  --ion-background-color: #44ADA8;
  color: white
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ion-grid {
  margin: 0;
  padding: 0;
}

.odd-row {
  background: rgb(242, 242, 242);
  --border-style: none;
  color: black;
}

.rating {
  border: 1px solid #ccc;
  color: #de3535;
  font-size: 12px;
  font-weight: 600;
  border-radius: 9%;
  padding: 3px;
  height: 23px;
}

.swal2-select {
  font-size: 12px !important;
}

ion-back-button {
  margin-left: -15px !important;
}

.rounded-input-box {
  width: 100%;
  border: 1px solid gray;
  padding: 0px;
  margin-top: 5px;
  border-radius: 5px;
  height: 3rem;
  --highlight-color-focused: transparent;
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;

  ion-input {
    --padding-start: 5px;
  }
}